server {
      listen 9999;
      location /v1/ {
          proxy_pass http://18.182.6.202:8888;
          proxy_set_header Host            $host;
          proxy_set_header X-Forwarded-For $remote_addr;
      }
      location /v1/chain/get_abi {
          proxy_pass http://39.104.48.209:5000;
          proxy_set_header Host            $host;
          proxy_set_header X-Forwarded-For $remote_addr;
      }
      location ~.html$ {
          index index.html;
          root /opt/eos_front;
      }
  }