.ei_head{
    height: 800px;
    width: 100%;
    background: linear-gradient(45deg, #4556FE, #9762FA);
    position: relative;
}
.eos_main_title{
    font-size: 64px;
    color: #fff;
    font-weight: 400;
    line-height: 72px;
    padding-top: 244px;
    position: relative;
    z-index: 2;
}
.ei_des{
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    padding-top: 48px;
    padding-right: 540px;
    position: relative;
    z-index: 2;
}
.invite_box{
    border: 1px solid #e6e6e6;
    background-color: #fff;
    position: relative;
}
.mgt_58{
    margin-top: 58px;
}
.mgt_38{
    margin-top: 38px;
}
.mgt_72{
    margin-top: 72px;
}
.mgt_46{
    margin-top: 46px;
}
.invite_box_title{
    font-size: 32px;
    line-height: 1;
    padding: 36px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.invite_box_content{
    padding: 20px;
    padding: 12px 108px;
}
.invite_list_item{
    line-height: 20px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 26px;
    position: relative;
    padding-left: 42px;
}
.invite_list_item_radio{
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border-radius: 18px;
    border: 4px solid #4556FE;
    position: absolute;
    left: 0px;
    top: 0px;
}
.sended_eos{
    text-align: center;
}
.se_num{
    color: #4556FE;
    font-size: 54px;
}
.se_sys{
    color: #333333;
    font-size: 32px;
    margin-left: 14px;
}
.sys_update_tag{
    color: #999999;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    font-weight: 300;
    padding: 10px;
    padding-top: 38px;
}
.invite_info{
    color: #999999;
    font-size: 14px;
    line-height: 20px;
}
.invite_form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
    position: relative;
}
.invite_tag{
    margin-right: 20px;
}
.tg_ipt{
    height: 48px;
    width: 560px;
    font-size: 14px;
    background-color: #EFF0F4;
    outline: none;
    border: 0px;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 0px;
}
.btn{
    height: 48px;
    display: flex;
    align-items: center;
    background: #4556FE;
    color:#fff;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.copy_btn{
    margin-left: 10px;
}
.invite_info{
    padding-bottom: 30px;
}
.tab_ct{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.tab_ct .btn{
    height: 50px;
    background-color: #fff;
    border: 1px solid #4556FE;
    color: #333333;
    margin-left: 2px;
    margin-right: 2px;
}
.tab_ct .btn:hover{
    color: #4556FE;
}
.tab_ct .btn_tb_focus{
    background: #4556FE;
    color:#fff;
}
.tab_ct .btn_tb_focus:hover{
    color: #fff;
}
.w_100{
    width: 100px;
}
.blue_ft{
    color: #408ee1;
}
.light_info{
    /*color: #333;*/
}
#letters{
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
.show_copy_info{
    background: #e8f7ed;
    color: #1BA84E;
    padding: 6px 10px;
    width: 160px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #30b661;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top: 10px;
}
.error_info{
    color: red;
    background-color: #f7f1e8;
    border: 1px solid #b64f30;
}
.hd_bg{
    width: 545px;
    height: 505px;
    background-image: url('../image/web/eos_invite_bg.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 172px;
    right: -1px;
}
.hd_box{
    position: relative;
}
.no_data{
    height: 60px;
}
.dialog_mask{
    position: fixed;
    background-color: rgba(51,51,51,.5);
    z-index: 21;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.dialog{
    width: 428px;
    height: auto;
    box-sizing: border-box;
    border: 6px solid #333333b5;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -214px;
    top: 100px;
}
.dialog_title{
    font-size: 22px;
    line-height: 1;
    padding: 26px 28px;
    color: #333;
}
.dialog_content_ct{
    border: 1px solid #eee;
    margin: 10px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 26px;
    padding: 22px 0px;
}
.dialog_item{
    padding: 6px 18px;
}
.blue_ft{
    color: #404BC1;
    cursor: pointer;
}