*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background: #F9F9F9;
    opacity: 1;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Source Han Sans", "Noto Sans CJK Sc", "Microsoft YaHei", "Microsoft Jhenghei", sans-serif;
    font-family: -apple-system,Noto Sans,Helvetica Neue,Helvetica,sans-serif;
}
a{
    text-decoration: none;
    color: #070709;
}
a:hover{
    color: #408EE1;
}
div{
  word-break: break-all;
}
.blue_ft{
  color: #0070e0;
}
.logo{
  background-image: url('../image/web/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 158px;
  height: 46px;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  left: 0px;
}

.main_content{
  width: 1200px;
  margin: 0 auto;
}
.top_hd_content{
    margin: 10px;
}
.main_title{
    border-bottom: 1px solid #555;
    color: #fff;
    font-size: 36px;
}
.sm_title{
    border-bottom: 1px solid #555;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 20px;
}
.load_circle{
    border: 1px solid #0bceaa;
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    animation: rotate 1s linear infinite;    
}
.base_load_ct{
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.bigger_load .load_circle{
  width: 30px;
  height: 30px;
}
.base_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.base_table{
    width: 580px;
    background: #fff;
    border: 1px solid #E8E8E8;
    position: relative;
}
.table_config{
  min-height: 470px;
  position: relative;
}
.base_table tr div{
  line-height: 30px;
}
.tb_title{
    font-size: 18px;
    color: #070709;
    padding: 16px 22px;
    position: relative;
    border-bottom: 1px solid #E8E8E8;
}
.tb_title_gray{
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  padding: 14px 22px;
  background: #EFF0F4;
}
.tb_title_white{
  background: #fff;
}
.tb_btn{
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    padding: 7px;
    color: #070709;
    border: 1px solid #070709;
    border-radius: 3px;
    cursor: pointer;
}
.tb_btn:hover{
    background: #408EE1;
    border: #408EE1;
    color: #fff;
}
.tb_more_btn{
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -15px;
}
.base_tb_ct{
    width: 100%;
    border-spacing: 0;
}
.base_tb_ct tr td, .base_tb_ct tr th{
    text-align: left;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #070709;
}
.tr_bg{
    background: #EFF0F4;
}
.base_tb_ct tr th{
    line-height: 59px;
}
.base_tb_ct tr:hover{
    background: #e8e6e6;
}
.layout2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.layout_max{
    margin-top: 40px;
    margin-bottom: 90px;
}
.layout_max .base_table{
    width: 100%;
    position: relative;
}
.page_icon, .page_icon_left{
  background-image: url('../image/web/left_p.png');
  background-size: 4px 8px;
  background-position: center;
  background-repeat: no-repeat;
}
.page_icon_right{
  background-image: url('../image/web/right_p.png');
}
.page_leftend_icon{
  background-image: url('../image/web/left_end.png');
  background-size: 4px 8px;
  background-position: center;
  background-repeat: no-repeat;
}
.page_rightend_icon{
  transform: rotate(-180deg);
}
.tb_footer_ct{
    padding-top: 25px;
    padding-bottom: 46px;
}
.tb_page_actions{
    display: flex;
    justify-content: center;
}
.tb_page_actions .tb_page_item{
    display: inline-block;
    padding: 0px 8px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
    color: #869097;
    cursor: pointer;
    margin-right: 1px;
    margin-left: 1px;
}
.tb_page_actions .tb_page_item:hover{
  box-shadow: 0px 0px 2px;
}
.tb_page_actions .tb_page_focus{
    color: #fff;
    background: #408EE1;
}

.fakeloader{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  margin-top: 0px;
  left: 0px;
  margin-left: 0px;
  background-color: rgba(249, 246, 246, 0.25);
}
.fakeloader .spinner4{
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -15px;
}
.no_data{
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #666;
}
.get_more_ct{
  text-align: center;
  padding: 30px;
}
.more_action_item{
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  padding: 15px 42px;
}
.get_more_action{
  background-color: #EFF0F4;
  color: #408EE1;
}
.get_more_action:hover{
  background-color: #408EE1;
  color: #fff;
}
.gray_info_txt{
    color: #9e9d9d;
    font-weight: 300;
}
.action_ct{
  display: flex;
}
.action_ct .splite_line{
  margin-left: 5px;
  margin-right: 5px;
  color: #98979c;
}
.info_box{
    border: 1px solid #eee;
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}
.instruction_box{
  padding: 0px 20px;
  line-height: 40px;
  background: #eff0f4;
  /*font-size: 12px;*/
}
.instruction_box ul {
  line-height: none;
}
.instruction_box ul li{
  border-bottom: 1px solid #e8e8e8;
  list-style: none;
}
.instruction_box ul li:last-child{
  border-bottom: 0px solid rgba(0, 0, 0, 0);
}
.instruction_box .blue_ft{
  color: #115396de;
}
.nav_dw_arrow{
    width: 10px;
    height: 5px;
    display: inline-block;
    background-image: url('../../assets/image/web/select_arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
}
 .dw_nav_item{
    position: relative;
}
.dw_nav_item .dw_nav_item_tt{
    display: flex;
    align-items: center;
    height: 54px;
}
.dw_nav_item_tt .nav_dw_arrow{
    margin-left: 5px;
}
.dw_nav_item .dw_nav_list .dw_nav_child{
    display: flex;
    height: 48px;
    align-items: center;
    font-size: 15px;
    padding: 0 18px;
    min-width: 189px;
    background: #fff;
    color: #009dda;
    cursor: pointer;
}
.dw_nav_item .dw_nav_list .dw_nav_child:hover, .dw_nav_item .dw_nav_list .dw_nav_selected{
    background-color: #efefef;
    color: #1C3249;
}
/*#F5F5F5*/
.dw_nav_item .dw_nav_list{
    position: absolute;
    background: #fff;
    width: 188px;
    left: -16px;
    display: none;
}
.dw_nav_item:hover .dw_nav_list{
    display: block;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg)
  }
  /*50% {-webkit-transform: rotate(180deg); }*/
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg);    
  }
  /*50% {-ms-transform: rotate(180deg); }*/
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  /*50% {transform: rotate(180) }*/
  100% {
    transform: rotate(360deg)
  }
}
@-webkit-keyframes down_nav {
  0% {
    opacity: 0;
    top: -600px;
    bottom: 748px;
  }
  100% {
    opacity: 0.4;
    top: 0px;
    bottom: 148px;
  }
}
@-ms-keyframes down_nav {
  0% {
    opacity: 0;
    top: -600px;
    bottom: 748px;
  }
  100% {
    opacity: 0.4;
    top: 0px;
    bottom: 148px;
  }
}
@keyframes down_nav {
  0% {
    opacity: 0;
    top: -600px;
    bottom: 748px;
  }
  100% {
    opacity: 0.4;
    top: 0px;
    bottom: 148px;
  }
}